app_name=ai_school_agent_server
app_env=dev
app_host=127.0.0.1
app_port=8000
debug=true

database_url=postgresql+psycopg2://postgres:123456@127.0.0.1:5432/ai_school_db?client_encoding=utf8

jwt_secret_key=replace_me
jwt_algorithm=HS256
jwt_expire_minutes=120

openai_api_key=sk-76015da1629945a49ea00c02345bb193
openai_base_url=https://coding.dashscope.aliyuncs.com/v1
openai_model=qwen3.5-plus
llm_provider=openai

qwen_api_key=sk-76015da1629945a49ea00c02345bb193
qwen_base_url=https://dashscope.aliyuncs.com/compatible-mode/v1
qwen_model=qwen3.5-plus


knowledge_dir=docs/knowledge
rag_top_k=3
rag_chunk_size=300
rag_chunk_overlap=50

embedding_provider=openai
embedding_api_key=sk-76015da1629945a49ea00c02345bb193
embedding_base_url=https://dashscope.aliyuncs.com/compatible-mode/v1
embedding_model=text-embedding-v4
embedding_dimensions=512

coding_plan_key =sk-sp-e7d37468212548c9952d159c3f7ac96c
coding_plan_url =https://coding.dashscope.aliyuncs.com/v1
#qwen_temperature=0.3