app_name=ai_school_agent_server
app_env=dev
app_host=127.0.0.1
app_port=8000
debug=true

database_url=postgresql+psycopg2://postgres:123456@127.0.0.1:5432/ai_school_db

jwt_secret_key=replace_me
jwt_algorithm=HS256
jwt_expire_minutes=120